.login-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box {
  width: 600px;
  height: 750px;
  /* background-color: red; */
}

.login-ipt-box {
  margin-top: 50px;
}

.login-btn-box {
  margin: 80px 0 50px 0;
}
 

.footer-box {
  margin-top: 150px;
}