/* font 식별 및 등록 */
@font-face {
  font-family: 'PatrickHand'; /* 내가 사용할 이름 */
  src: url('./assets/fonts/PatrickHand-Regular.ttf') format('truetype'); /* 경로 확인 필수! */
  font-weight: normal;
  font-style: normal;
}

:root {
  /* font 관련 */
  --primary-font: 'PatrickHand', sans-serif;

  /* color 관련 */
  --defalut-bg-color: #ffffff;
  --primary-color: #1a1a1a;
  --secondary-color: #ffffff;

  /* size 관련 */
  
}
 

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: var(--primary-font);

}


 

 