/* font 식별 및 등록 */
@font-face {
  font-family: 'PatrickHand'; /* 내가 사용할 이름 */
  src: url('./assets/fonts/PatrickHand-Regular.ttf') format('truetype'); /* 경로 확인 필수! */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: NanumHigh;
  src: url('./assets/fonts/NanumHand-High.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  /* font 관련 */
  --primary-font: 'PatrickHand', 'NanumHigh', sans-serif;

  /* color 관련 */
  --defalut-bg-color: #ffffff;
  --primary-color: #1a1a1a;
  --secondary-color: #ffffff;

  /* size 관련 */
  --common-compo-width: 350px;
  --common-compo-height: 50px;

  --login-box-w : 350px;
  --login-box-h : 500px;
  
}

html, body, #root {
  height: 100%;
}

body {
  font-family: var(--primary-font);
}


 

 