.header {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

/* 5. 반응형 설정 (Media Query) */
/* 화면 너비가 768px 이하일 때 (태블릿/모바일) */
@media (max-width: 768px) {
  .header {
    width: 100%;            /* 화면 너비에 꽉 차게 */
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 5px;
    text-align: center;
  }
}