/* index.css */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* 바탕색 */
  border-top: 5px solid #3498db; /* 돌아가는 부분 색상 */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 꽉 차게 */
}